*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body{
    background-color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    padding: 28px;
    background-color: white;
    width: 400px;
    border-radius: 15px;
    height: min-content;

}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-box input{
    width: 84%;
    text-transform: capitalize;
    background-color: aqua;
    border-radius: 12px;
    padding: 15px 22px;
    font-size: 18px;

}
.search-box input::placeholder{
    color: black;
}
.search{
    border-radius: 50%;
    background-color: aqua;
    width: 46px;
    height: 46px;
    cursor: pointer;

}
.search:hover{
      color: black;
      background-color: black;
}
.whether-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-block: 20px;
    background-color: white;

}
.whether-body img{
    width: 42%;
}
.whether-box{
    margin-block: 20px;
    text-align:center;
}
.whether-box .temperature{
    font-size: 40px;
    font-weight: 800;
    position: relative;
}
.whether-box .temperature sup{
    font-size: 30px;
    font-weight: 600;
    position: absolute;
}
.whether-box .description{
    font-weight: 600;
    font-size: 18px;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.huminity, .wind{
    display: flex;
    align-items: center;
}
.weather-details .text-h{

    margin-right: -440px;
    font-size: 18px;
}
.huminity img{
    margin-left: -6px;
}
.text span{
    font-weight: 700;
    

}
.text-h span{
    font-weight: 700;
}